<!DOCTYPE html>
<html>
  <head>
    <title>LeadTinker 2.0</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LeadTinker 2.0 Dashboard</h1>
    <p>Welcome to the future</p>
  </body>
</html>
